    .login-container{
            margin-top: 10%;
            margin-bottom: -15%;
            margin-left: -10%;
        }
        .login-form-1{
            padding: 0%;
            box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 9px 26px 0 rgba(0, 0, 0, 0.19);
        }
        .login-form-1 h3{
            text-align: center;
            color: #333;
        }
      
.dashboard{
    margin-top: 10%;
    margin-bottom: 10%;
}
        

        